*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header {
    justify-content: space-between;
    display: flex;
    min-height: 9vh;
    background-color: aquamarine;
}
.logo{
    object-fit: cover;
    height: 56px;
    width: 96px;
    align-content: center;
}
.enlaces{
    align-content: center;
}
.enlaces a{
    padding: 7px;
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
    align-content: center;
    border: 2px solid rgba(238, 236, 236, 0.959);
    cursor: pointer;
    color: white;
    border-radius: 15px;
    background-color: lightcoral;
}
main{
    min-height: 85vh;
    background-color: lightcoral;
}
.titulosp1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    display: flex;
    justify-content: center;
}
.img img{
    height: 250px;
    width: 910px;
    object-fit: cover;
}
.cono{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bienvenida{

    align-content: center;
    font-size: 25px;
}
.icon{
    object-fit: contain;
    width: 250px;
    height: 200px
}
footer{
    align-content: center;
    text-align: center;
    font-size: 25px;
    min-height: 6vh;
    background-color: aquamarine;
}


